/* AddBookmark.css */

/* General container styling */
.add-bookmark-container {
    min-height: 100vh;
    background: url('../../Home/img/banner.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    color: white;
    margin-top: 10px;
  }
  
  /* Ensure content starts below the navbar */
  .add-bookmark-content {
    padding-top: 80px; /* Adjust this according to the height of your navbar */
    text-align: center;
  }
  
  /* Styling for the heading */
  .bk_h1 {
    margin-top: 10px;
    font-size: 2.5rem;
    color: #ff992b;
  }
  
  /* Form styling */
  .bk_m {
    margin: 20px 0;
  }
  .bk_form{
    text-align: center;
    margin-bottom: 50px;
  }

  /* Label styling */
  .form-label {
    font-size: 1.2rem;
  }
  
  /* Input and Textarea styling */
  .form-control {
    padding: 8px;
    font-size: 0.9rem;
  }
  
  .btn-primary {
    width: 100%;
  }


/* Hide elements when printing */
@media print {
  .no-print {
    display: none;
  }
}








